@page "/C_Ocupaciones"
@inject OcupacionesBLL ocupacion;

<EditForm Model="ocupacion">
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Ocupaciones</h3>
        </div>
        </div>

        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>OcupacionId</th>
                    <th>Descripcion</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _ocupaciones)
                {
                    <tr>
                        <td>@item.OcupacionId</td>
                        <td>@item.Descripcion</td>
                        <td>@item.salario</td>
                    </tr>
                }
            </tbody>
        </table>
</EditForm>

@code
{
    public Ocupaciones ocupaciones{get; set;} = new Ocupaciones();
    public List<Ocupaciones> _ocupaciones{get;set;} = new List<Ocupaciones>();

    public void buscar()
    {
        _ocupaciones = ocupacion.GetList(o => true);
    }
}



