@page "/ocupacion"
@page "/ocupacion/{OcupacionId:int}"
@inject OcupacionesBLL ocupacionesBLL
@inject NotificationService notificationService


<EditForm Model="ocupacion">
<div class="accordion-item">
    <div class="modal-header">
        <h1>Registro de Ocupaciones</h1>
    </div>
    <div class="accordion-body">     
    <label for="ocupac">OcupaciobId</label>
    <div class="input-group">
        <InputNumber @bind-Value="ocupacion.OcupacionId" class="form-control" />
        <button type="button" class="btn btn-primary" @onclick="Buscar"><span class="oi oi-magnifying-glass"></span></button>
    </div>
    
      <br />
      <br />
      <label for="descr">Descripcion</label>
      <InputText @bind-Value="ocupacion.Descripcion" class="form-control" />
      <br />
      <br />
    
      <label for="descr">Salario</label>
      <InputNumber @bind-Value="ocupacion.salario" class="form-control" />
      <br />
      <br />
   </div>

    <div class="accordion-flush">
        <button type="button" class="btn btn-primary" @onclick="Nuevo"> <span class="oi oi-file"></span> Nuevo </button>
        <button type="button" class="btn btn-success" @onclick="Guardar"><span class="oi oi-document"></span> Guardar</button>
        <button type="button" class="btn btn-danger" @onclick="Eliminar"><span class="oi oi-delete"></span> Eliminar</button>
    </div>
</div>
</EditForm>

@code {
    [Parameter]
    public int OcupacionId {get; set; }

    public Ocupaciones ocupacion {get; set; } = new Ocupaciones();

    protected override void OnInitialized()
    {
        if(OcupacionId > 0)
        {
            this.ocupacion.OcupacionId = OcupacionId;
            this.Buscar();
        }
    } 
    private void Buscar()
    {
        if (ocupacion.OcupacionId > 0)
        {
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Se ha encontrado con exito."
                    });

            var encontrado = ocupacionesBLL.Buscar(ocupacion.OcupacionId);
            Nuevo();
            if (encontrado != null)
                this.ocupacion = encontrado;
        }
    }

    public void Nuevo()
    {
        this.ocupacion = new Ocupaciones();
    }

    public void Guardar()
    {
        var guardado = ocupacionesBLL.Guardar(ocupacion);

        if (guardado)
        {
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Guardado con exito."
                    });
            Nuevo();
        }
        else
        {
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "ERROR!!. Favor revisar los campos."
                    });
            Nuevo(); 
        }

    }
    public void Eliminar()
    {
        if(ocupacionesBLL.Eliminar(ocupacion))
        {
        ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "No hay nada para eliminar"
            });

            Nuevo();
        }
        else
        {
        ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error"
            });
        }
    }

    public void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }


}
