@page "/"

<PageTitle>Index</PageTitle>
<div class="accordion-item">

    <div class="modal-header">

        <h1>Registro de Ocupaciones</h1>
    </div>

 <div class="accordion-body">

        <form>           
      <label for="ocupac">OcupaciobId</label>
      <input id="ocupac" type="text" name = "name">
      <br />
      <br />
      <label for="descr">Descripcion</label>
      <input id="descr" type="txt" name="name">
   </form>

   </div>

    <div class="accordion-flush">
        <button type="button" class="btn btn-primary"<span class="oi oi-file"</span>Nuevo </button>
        <button type="button" class="btn btn-success" <span class="oi oi-document"</span>Guardar</button>
        <button type="button" class="btn btn-danger"<span class="oi oi-delete"</span>Eliminar</button>

    </div>

</div>

<SurveyPrompt Title="Hecho por Jorge Luis Toribio Gil (2021 0133)" />